* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

nav {
  height: 50px;
  background-color: #9bd0b7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  color: white;
  text-decoration: none;
}

.wrapper {
  padding: 30px;
}

#showModal {
  color: #957dad;
  margin-left: 600px;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  /* animation: fadeIn 0.7s; */
}

.bg-click {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.callout {
  position: relative;
  z-index: 99;
  width: 600px;
  height: 400px;
  background-color: white;
}

.login {
  font-size: 40px;
  text-align: center;
  padding: 40px;
}

.login-email {
  font-size: 25px;
  margin-left: 100px;
  width: 400px;
}

.login-password {
  font-size: 25px;
  margin-left: 100px;
  margin-top: 40px;
  width: 400px;
}

#submit {
  margin-top: 40px;
  margin-left: 250px;
  width: 100px;
  height: 30px;
}

.login-signup {
  font-weight: lighter;
  margin-top: 30px;
  margin-left: 180px;
}

.signup {
  color: #a0025c;
  text-decoration: none;
}
